body{
    text-align: center;
    background-image: linear-gradient(to right, rgb(80, 247, 147), rgb(10, 10, 228), 
    rgb(91, 119, 59));
    background-size: cover;
    color: none;
    display: block;
    min-width: 300px;
}
.box{
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    min-width: 400px;
    padding: 20px;
}
.box > * {
    font-weight: bold;
    color: white;
    border-radius: 5px;
}
button{
    color: white;
    width: 13rem;
    padding: 10px;
    background-color: inherit;
    border: 2px ridge blue;
}
button:hover{
    color: #000;
    background-color: white;
}
button:active{
    color: brown;
    background-image: linear-gradient(to right, rgb(111, 80, 247), rgb(10, 10, 228), 
    rgb(33, 20, 92));
}
.display{
    display: inline-flex;
    min-width: 180px;
    min-height: 50px;
    max-width: 400px;
    max-height: 400px;
    border: 2px ridge blue;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
    align-items: justify;
    justify-content: center;
    overflow-x: auto;
    font-weight: normal;
}
.dark{
    background-image: linear-gradient(to right, rgb(111, 80, 247), rgb(10, 10, 228), 
    rgb(33, 20, 92));
    color: brown;
    font-weight: bold;
    content: " Copyed";
}

